body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

header {
    background-color: lightslategray;
    padding: 10px;
}

header>h1 {
    margin: 0;
}

nav{
    border-bottom: 1px solid lightgray;
}

nav>ul{
    list-style: none;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

nav>ul>li{
    padding: 10px;
}

nav>ul>li:not(.spacer):hover{
    background-color: burlywood;
}

nav>ul>li.spacer{
    flex-grow:1;
}

div.main {
    flex-grow: 1;
    padding: 10px;
    overflow: auto;
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: lightgray;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(83, 100, 117, 0.462);
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: black;
}