<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <title>Test Spring Boot</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}" />
</head>

<body>
  <header class="header">
    <h1>Admin</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/admin">Admin</a></li>
      <li class="spacer"></li>
      <li sec:authorize="isAnonymous()">
        <a href="/oauth2/authorization/google">Sign in</a>
      </li>
      <li sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
          <input class="link" type="submit" value="Sign Out" />
        </form>
      </li>
    </ul>
  </nav>
  <div class="main">
    <p>Admin!</p>
  </div>
</body>

</html>